asgiref==3.2.3
Babel==2.9.1
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Django==3.1.14
django-crispy-forms==1.8.1
django-phonenumber-field==4.0.0
django-tinymce==3.4.0
django-twilio==0.13.0.post1
idna==2.9
phonenumbers==8.11.5
Pillow==9.0.1
PyJWT==1.7.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
twilio==6.36.0
urllib3==1.26.5
