{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
  <title>Jobify</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<style>
    /* override Bootstrap's container */
    .container-fluid {
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto
    }
</style>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">     
        <ul class="nav navbar-brand mx-auto">
            <a class="nav-link text-light display-4" href="{%url 'homepage'%}"><li class="nav-item">Jobify</li></a>
        </ul>
    </nav>
    <br>
</div>
<div class="container">
    <h2>Login</h2>
    <hr>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-center"><input type="submit" value="Login" class="btn btn-success"></div>
    </form>
    <p class="text-center display-4 m-3 p-3" style="font-size:150%">OR</p>
    <div class="text-center"><a href="{% url 'signup' %}" class="text-center btn btn-info">Signup</a></div>
</div>

<br>
  <!-- Footer -->
  <footer class="page-footer font-small bg-secondary">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Jobify</div>
  <!-- Copyright -->

  </footer>
  <!-- Footer -->
