{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Signup    
{% endblock title %}

{% block body %}
<div class="container text-center">
    <h2>Signup</h2>
    <hr>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        {% comment %} <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        {{ form.email|as_crispy_field }}
        {{ form.password|as_crispy_field}}
        {{ form.role|as_crispy_field }}
        {{ form.avatar|as_crispy_field }}
        {{ form.Mobile_Number|as_crispy_field }} {% endcomment %}
        <div class="text-center"><input type="submit" value="Signup" class="btn btn-success"></div>
    </form>
    <p class="text-center display-4 m-3 p-3" style="font-size:150%">OR</p>
    <div class="text-center"><a href="{% url 'login' %}" class="text-center btn btn-info">Login</a></div>
</div>
<br>
{% endblock body %}