{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<span class="display-4">Dashboard</span>
<hr>
<div class="row ml-5">
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    Connections
                </div>
                <div class="flip-card-back">
                    {{connection_count}}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    Posted Vacancy
                </div>
                <div class="flip-card-back">
                    {{Postedvacancy}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="font-size: 1.5em;">Suggested Connections</div>

<div class="main-part">
    {% for u in users %}
        {% if not request.user in u.connections.all %}
            <div class="card w-25 m-2">
                <img class="card-img-top" src="{{u.avatar.url}}">
                <div class="card-body">
                    <h4 class="card-title text-center">{{u.first_name}} {{u.last_name}}</h4>
                    <a href="{% url 'ViewSProfile' u.id%}" class="btn btn-info btn-block mt-1 p-3">View Profile</a>
                    <a href="{% url 'addfriend' u.id%}" class="btn btn-success btn-block mt-1">Connect</a>
                </div>
            </div>
        {% endif %}  
    {% endfor %}
</div>
{% endblock body %}
