{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Post Vacancy
{% endblock title %}
{% block body %}
{% if request.user.currentcompany %}
    <h2 class="text-center">Post Vacancy</h2>
    <div class="mx-auto">
    <div class="alert alert-info" role="alert">
        Posting for Company:{{user.currentcompany}}
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{form|crispy}}
        {{ form.media }}
        <div class="text-center"><button type="submit" class="save btn btn-default bg-info">Save</button></div>       
    </div>        
{% else %}
    <div class="jumbotron" id="postvacancyerror">
        Please add your current company name before posting vacancy 
    </div>
{% endif %}

{% endblock body %}