{% extends 'base.html' %}
{% block body %}
{% for a in applicants %}
    <div>
        <img class="rounded-circle" src="{{a.user.avatar.url}}" width="150" height="100">
        {{a.user.first_name}}
        {{a.user.last_name}}
        <a href="{% url 'ViewAProfile' a.user.id%}" class="btn btn-secondary">View Profile</a>
        <a href="{% url 'AcceptAppli' a.id%}" class="btn btn-success">Accept</a>
        <a href="{% url 'RejectAppli' a.id%}" class="btn btn-danger">Reject</a>
    </div>
{% endfor %}
{% endblock body %}