{% load static %}
<html lang="en">

<head>
  <title>{% block title %}  {% endblock title %}
  </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/recruiter_css.css' %}" rel="stylesheet">
  <link href="{% static 'css/jobseeker_css.css' %}" rel="stylesheet">
  <link href="{% static 'css/jobapp_css.css' %}" rel="stylesheet">
  <style>
    .showdescription {
    position: fixed;
    bottom: 10px;
    right:10px;
    }
  </style>
</head>
<body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">JobPortal</div>
      <div class="list-group list-group-flush">
      {% if request.user.role == 'R' %}
        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="{% url 'Postvacancy' %}" class="list-group-item list-group-item-action bg-light">Post Vacancy</a>
        <a href="{% url 'Viewappli' %}" class="list-group-item list-group-item-action bg-light">View applicants</a>
        <a href="{% url 'ViewVacancy' %}" class="list-group-item list-group-item-action bg-light">My vacancy</a>
        <a href="{% url 'Recruiterprofile' %}" class="list-group-item list-group-item-action bg-light">My Profile</a>
        <a href="{% url 'myconnection' %}" class="list-group-item list-group-item-action bg-light">My Network</a>
        <a class="nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Logout</button></a>
      {% elif  request.user.role == 'J' %}
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="{% url 'JProfile' %}" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="{% url 'JViewVacancy' %}" class="list-group-item list-group-item-action bg-light">View vacancys</a>
        <a href="{% url 'AppliedVacancy' %}" class="list-group-item list-group-item-action bg-light">Applied Vacancy</a>
        <a href="{% url 'myconnection' %}" class="list-group-item list-group-item-action bg-light">My Network</a>
        <a class="nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Logout</button></a>
      {% else %}
        <a class="nav-link" href="{% url 'signup' %}"><button type="button" class="btn btn-Success">SignUp</button></a>
        <a class="nav-link" href="{% url 'login' %}"><button type="button" class="btn btn-info">&nbspLogin&nbsp</button></a>
      {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-body font-weight-bolder" href="{% url 'home' %}">Home&nbsp&nbsp</a>
            </li>
            {% endif %}
            <li>
              <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
      <br>
        {% block body %}
                  
        {% endblock body %}
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  
  <!-- Footer -->
  <footer class="page-footer font-small bg-secondary">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: JobPortal</div>
  <!-- Copyright -->

  </footer>
  <!-- Footer -->
  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>