{% extends "base.html" %}
{% block title %}
My profile
{% endblock title %}
{% block body %}
<div class="container">
    <div class="media border p-1">
        <div class="row media-body">
            <div class="col-sm-1"><img class="rounded-circle" src="{{user.avatar.url}}" width="150" height="100"></div>
            <div class="col-sm-11 text-center"><h1>{{user.first_name}} {{user.last_name}}</h1>
            BIO
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td> Email
                <td> {{user}}
            </tr>
            <tr>
                <td>Mobile_Number</td>

                <td></td>
            </tr>
        </tbody>
    </table>
    <a href="">Update General Information</a>
</div>
{% endblock body %}