{% extends "base.html" %}
{% block body %}
<span class="display-3">Dashboard</span>
<hr>
<div class="row ml-5">
    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    Skills Added
                </div>
                <div class="flip-card-back">
                    {{skills_count}}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    Connections
                </div>
                <div class="flip-card-back">
                    {{connection_count}}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    Applied Vacancy
                </div>
                <div class="flip-card-back">
                    {{appliedvacancy}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="font-size: 1.5em;">Suggested Vacancys</div>
<div>
    {% for i in job %}
        <div class="media border p-3 m-3">
            <div class="media-body">
                <h4>{{i.title}} Vacancy <small><i>Posted on {{i.date_added}}</i></small></h4>
                <span class="Description">{{i.description|safe}}</span>
                Deadline:{{i.deadline}}  <br>
                        
                </div>
                <div class="text-center">
                    <b class="mr-4">Posted by: {{i.user.first_name}} {{i.user.last_name}}</b><br>
                    <img src="{{i.user.avatar.url}}" class="ml-5 mt-3 rounded-circle" style="width:60px;">
                </div>       
            </div>
        </div>
    {% endfor %}
</div>

{% endblock body %}
